@{
    ViewData["Title"] = "404: NotFound";
}

<div class="alert alert-danger m-3">
    <h2>404 : Page Not Found</h2>
    <hr />
    <h3>
        Sorry, Product Id you are searching doesn't exist. Please try a different Product Id.
    </h3>
</div>
<a asp-controller="Home" asp-action="Index">Click here to go back to the Home Page</a>

