

@{
    ViewData["Title"] = ViewBag.StatusCode;
}

<div class="jumbotron text-danger">
    <h1>@ViewData["ErrorMessage"]</h1>
</div>
<hr />
Click here <a asp-controller="Home" asp-action="Index">Home Page</a>
