@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Bakery</h1>

    <div class="row">
        @foreach (var product in Model)
        {
            <div class="card m-2" style="width:18rem">
                <div class="card-header">@product.Name</div>

                <img src="~/Images/@product.ImageName" class="card-img-top" />
                <p>@product.Description</p>
                <div class="m-3">
                    <p class="float-left">
                        @string.Format("{0:C}", product.Price)
                    </p>
                    <a href="#" class="btn btn-sm btn-success float-right">Buy Now</a>
                </div>
            </div>
        }
    </div>
</div>
